*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{

}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background: rgb(195, 65, 202);
    width: 140px;
    height: 40px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px rgb(189, 186, 186);
    border-radius: 10px;
    
}